.island-container {
  width: 100vw;
  height: auto;
  background: #d9d9d9;
  overflow-x: hidden;
}

.islandHeader {
  position: fixed;
  top: 0%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.island-container-2 {
  margin-top: 200px;
}

.island-text-1 {
  width: 100vw;
  height: auto;
  font-family: Montserrat;
  letter-spacing: 5px;
  padding: 40px 0;
  font-size: 20px;
}

.island-text-1 h2 {
  color: black;
  text-align: center;
  font-weight: 500px;
  margin: auto;
  padding-bottom: 30px;
}

.island-text-1 p {
  width: 40%;
  color: black;
  text-align: center;
  margin: auto;
}
