.circle-cont {
    background-color: #A06D6D;
    border-radius: 50%;
    transition: background-color, transform, 0.3s ease;
    display: flex;              /* Makes it a flex container */
    justify-content: center;    /* Horizontally center the image */
    align-items: center;    
}

.circle-cont:hover {
    background-color:#C08D8D ;
    transform: scale(1.1);
}

.thumbnail {
    width: 65%;
    height: 65%;
    object-fit: contain;
    justify-content: center;
    align-items: center;
}