.scroll-up-button {
  display: flex;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color:rgba(0,0,0,0.4);
  transition: background-color 0.3s ease-out, transform 0.3s ease-out;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.scroll-up-button:hover {
  background-color: rgba(0,0,0,0.2);
  transform: scale(1.1);
}

.scroll-up-button img {
  width: 30px;
  height: auto;
  object-fit: contain;
}

.scroll-up-button img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
