.buttonsquare {
    width: 14vw;
    height: 14vw;
    padding: 0;
    margin: 0;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    background: none;
    cursor: pointer;
}

.img-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    display: block;
}

.img-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.5s ease;
}

.buttonsquare:hover .img-container img {
    transform: scale(1.2);
}

.buttonsquare:hover .img-container .overlay {
    background-color: rgba(0, 0, 0, 0.3);
}

.buttonsquare span {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: Montserrat;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 400;
    z-index: 2;
    pointer-events: none;
    word-wrap: break-word;
    white-space: normal;
    width: 100%;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}