@import url("https://fonts.googleapis.com/css?family=Montserrat");

.Food-container {
  width: 100vw;
  height: auto;
  background: #d9d9d9;
  overflow-x: hidden;
}

.foodHeader {
  position: fixed;
  top: 0%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.2); /* translucent background */
  backdrop-filter: blur(12px); /* blur the background behind */
  -webkit-backdrop-filter: blur(12px); /* Safari support */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.food-container-2 {
  margin-top: 200px;
}

.food-text-1 {
  width: 100vw;
  height: auto;
  font-family: Montserrat;
  letter-spacing: 5px;
  padding: 40px 0;
  font-size: 20px;
}

.food-text-1 h2 {
  color: black;
  text-align: center;
  font-weight: 500px;
  margin: auto;
  padding-bottom: 30px;
}

.food-text-1 p {
  width: 40%;
  color: black;
  text-align: center;
  margin: auto;
}

.food-text-2 {
  text-indent: 5rem;
  width: 100vw;
  height: auto;
  font-family: Montserrat;
  letter-spacing: 5px;
  padding: 40px 0;
  font-size: 20px;
  box-sizing: border-box;
}

.food-text-2 p {
  color: black;
  width: 80%;
  margin: auto;
}
