.carousel {
  position: relative;
  max-width: 100vw;
  overflow: hidden;
}


.carousel__image-wrapper {
  position: relative;
  width: 100vw;
  height: auto;
}

.carousel__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  pointer-events: none;
}

.carousel__img.active {
  opacity: 1;
  position: relative;
  pointer-events: auto;
}

.carousel__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.2rem;
}

.carousel__btn {
  background-color: transparent;
  color: grey;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
}

.carousel__btn:hover {
  color: #f76c6c;
}

.carousel__indicators {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.carousel__indicator {
  width: 10px;
  height: 10px;
  background-color: grey;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.carousel__indicator.active {
  width: 24px;
  height: 10px;
  background-color: #f76c6c; 
  border-radius: 999px; 
}
