@import url("https://fonts.googleapis.com/css?family=Limelight");

.trip-planner-wrapper {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
  background-color: #d9d9d9;
  padding-top: 140px;
}

.pub-text-1 {
  text-align: center;
  padding: 20px;
  font-family: 'Limelight';
  color: black;
  font-size: 40px;
}

.trip-body {
  display: flex;
  flex-direction: row;
  height: 600px; 
  overflow: hidden;
}

.trip-sidebar {
  width: 360px;
  height: 600px;
  background-color: #ffffff;
  padding: 1rem;
  overflow-y: scroll;
  border-right: 1px solid #ccc;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  overflow-x: hidden;
}

.trip-sidebar::-webkit-scrollbar {
    display: none;
}

.input-panel {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.input-panel input {
  padding: 0.5rem;
  font-size: 14px;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: black;

}

.input-panel button {
  padding: 0.5rem;
  background: #1D2044ff;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  width: 90%;
  justify-self: center;
  align-self: center;

}

.trip-map {
  flex: 1;
  height: 600px;
}

.route-details {
  padding-top: 1rem;
  color: black;
}

.route-details h3 {
  margin-top: 0;
}

.route-details ol {
  padding-left: 1.2rem;
}

.route-details li {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.transit-line {
  margin-top: 6px;
  background: #e9f4ff;
  padding: 10px;
  border-left: 5px solid #2196f3;
  font-size: 14px;
  border-radius: 4px;
  line-height: 1.6;
}
