.about-malaysia-container {
  width: 100vw;
  height: auto;
  background: #d9d9d9;
}

.about-side-bar {
  position: sticky;
  margin: 0%;
  top: 200px;

  flex: 1;
  width: 20vw;
  background-color: white;
  border-radius: 20px;
  height:fit-content;
  color: black;
  align-content: center;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
}

.aboutMalaysiaHeader {
  position: fixed;
  top: 0%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.about-malaysia-container-2 {
  padding-top: 200px;
}

.about-text-1 {
  width: 100vw;
  height: auto;
  font-family: Montserrat;
  letter-spacing: 5px;
  padding: 40px 0;
  font-size: 20px;
}

.about-text-1 h2 {
  color: black;
  text-align: center;
  font-weight: 500;
  margin: auto;
  padding-bottom: 30px;
}

.about-article {
  display: flex;
  width: 85vw;
  gap: 40px;
  padding: 0 5vw;
  box-sizing: border-box;
  font-family: montserrat;
  letter-spacing: 3px;
  font-size: 20px;
  margin: auto;
}

.about-malaysia-article {
  flex: 3;
  color: black;
}

.about-malaysia-article p {
  text-indent: 35px;
  margin-bottom: 20px;
}

.about-malaysia-article h2 {
  font-size: 40px;
}

.about-malaysia-article img {
  width: 100%;
  height: auto;
  display: block;
}

.about-malaysia-article figcaption {
  text-align: center;
  padding-bottom: 5px;
  font-size: 18px;
  color: black;
  width: 80%;
  margin: auto;
}

.about-malaysia-article figure {
  justify-content: center;
  margin: auto;
}

.about-vid-intro video {
  width: 100vw;
  height: auto;
}

[id] {
  scroll-margin-top: 150px;
}
