@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes drop-in {
    from {
        transform: rotate(-30deg) translateY(-100%);
        opacity: 0;
    }
    to {
        transform: rotate(0deg) translateY(0%);
        opacity: 1;
    }
    
}

@keyframes grown-and-shrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes fade-out {
    from {
        opacity:1;
    }
    to {
        opacity: 0;
    }
}

@keyframes bouce {
    from { 
        transform: translateY(0px);
    }
    to {
        transform: translateY(var(--bounce-varr));
    }
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

