.postcard-page {
  height: 87vh;
  overflow: hidden;
}

.layout {
  display: flex;
  height: 87vh;
  overflow: hidden;
  padding: 0%;
  gap: 0;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: #dcdcdc;
}

.canvas-scroll-wrapper {
  flex: 1;
  overflow-y: scroll;
  padding: 20px;
}

.sidebar {
  background: #f8f8f8;
  padding: 10px;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 87vh;
}

.sidebar .icon {
  font-size: 24px;
  cursor: pointer;
}

.drawer {
  position: absolute;
  top: 13vh;
  left: 80px;
  width: 250px;
  background: white;
  border-left: 1px solid #ccc;
  height: 87vh;
  padding: 10px;
  overflow-y: scroll;
  overflow-y: auto;
}

.template-grid img,
.sticker-thumb {
  width: 100px;
  height: 70px;
  object-fit: cover;
  margin: 5px;
  border: 2px solid transparent;
  cursor: pointer;
}

.template-thumb.active {
  border-color: #3498db;
}

.navbar {
  background: #8a3225;
  color: white;
  height: 13vh;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.menu {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-left: auto;
}

.menu li {
  position: relative;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  background: white;
  color: black;
  top: 100%;
  left: 0;
  min-width: 100px;
  border: 1px solid #ccc;
  z-index: 99;
}

.dropdown li {
  padding: 6px 12px;
}
