
.sign-up {
    width: 100%;
    position: relative;
}

.sign-up-img img {
    width: 100%;
    height: auto;
    display: block;
}

.sign-up-overlay {
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 1;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    gap: 1vw; 
}

.sign-up-overlay img {
    width: 60vw;
    display: block;
}

.sign-up-overlay button {
    font-Family:Montserrat;
    font-Size:1vw;
    border-radius: 50px;
    background-color: rgba(0,0,0,0.5);
    transition: background-color, 0.3s ease-in;
    margin-left: 1vw;
}

.sign-up-overlay button:hover {
    background-color: rgba(0,0,0,0.3);
}


@font-face {
    font-family: "Bubble Gums";
    src: url("/assets/BubbleGums.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  