.island-button {
  position: relative;
  width: 25vw;
  height: auto;
  border: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border-radius: 0;
}

.island-button video {
  width: 100%;
  height: auto;
  display: block;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.island-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat';
  font-size: 25px;
  font-weight: 100;
  color: white;
  letter-spacing: 5px;
  z-index: 2;
  opacity: 0;
  text-align: center;
  transition: opacity 0.3s ease;
}

.island-button:hover .overlay,
.island-button:hover .island-txt {
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.island-button:hover .island-txt {
  opacity: 1;
}

.island-button:hover h3 {
  animation: fadeIn 1.5s ease-out forwards;
}

.island-button:hover hr {
  animation: fadeIn 1.5s ease-out forwards;
  animation-delay: 0.3s;
}
