.draggable-container {
    width: auto;
    height: auto;
  }
  
  .draggable-container.selected {
    border: 1px dashed #45247a;
  }
  
  .draggable-item {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    cursor: default;
  }
  
  .draggable-item.selected {
    cursor: move;
  }
  
  .rotation-handle {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: white;
    border: 1px solid grey;
    border-radius: 50%;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
  }
  
  .rotation-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
  }
  
  .draggable-container .delete-button {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 24px;
    height: 24px;
    background: white;
    color: black;
    border-radius: 50%;
    border: 1px solid grey;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    z-index: 10;
    padding: 0%;
    margin: 0;
  }

  .draggable-container .delete-button:hover {
    background: #f0f0f0;
    transform: scale(1.05); /* Slight enlargement on hover */
  }

  .rotated-wrapper {
    width: 100%;
    height: 100%;
    transform-origin: center;
  }
  
  .draggable-container {
    box-sizing: border-box;
  }
  
  .draggable-container.selected {
    border: 1px solid #45247a;
  }
  
  .draggable-item {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    cursor: default;
  }
  
  .draggable-item.selected {
    cursor: move;
  }
  
  .rotation-handle {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: white;
    border: 1px solid grey;
    border-radius: 50%;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
  }
  
  .rotation-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
  }
  
  .draggable-container .delete-button {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 24px;
    height: 24px;
    background: white;
    color: black;
    border-radius: 50%;
    border: 1px solid grey;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    z-index: 10;
    padding: 0%;
    margin: 0;
  }
  
  .draggable-container .delete-button:hover {
    background: #f0f0f0;
    transform: scale(1.05);
  }

  
  